In [0]:
from pyspark.sql.functions import col, rank, countDistinct, desc, count, coalesce
from pyspark.sql.window import Window

In [0]:
configs = {  # replace with Key Vault secrets
  "fs.azure.account.auth.type": "OAuth",
  "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
  "fs.azure.account.oauth2.client.id": "3da655a9-586c-42b5-a4a4-4547bd0fdb02",
  "fs.azure.account.oauth2.client.secret": "wr38Q~yUgYXk_yKDxS4Sm7W7hAxoRiV5iFtgwa8l",
  "fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/9c0d4336-117e-4476-93d8-44a062f2d928/oauth2/token",
  "fs.azure.createRemoteFileSystemDuringInitialization": "true"
}

# Check if directory is already mounted
mounted_dirs = [mount.mountPoint for mount in dbutils.fs.mounts()]
mount_point = "/mnt/tokyoolympics"

if mount_point not in mounted_dirs:
  # Mount Storage Account
  dbutils.fs.mount(
    source="abfss://tokyo-olympics-data@tokyoolympicskeenu.dfs.core.windows.net",  # Azure Blob File System Secure, container@storageaccount
    mount_point=mount_point,
    extra_configs=configs
  )
else:
  print(f"Directory {mount_point} is already mounted.")

Directory /mnt/tokyoolympics is already mounted.

In [0]:
%fs
ls "/mnt/tokyoolympics"

path,name,size,modificationTime
dbfs:/mnt/tokyoolympics/raw-data/,raw-data/,0,1709222251000
dbfs:/mnt/tokyoolympics/transformed-data/,transformed-data/,0,1709222265000

In [0]:
spark

In [0]:
# Read raw datasets from mounted raw-data directory
athletes = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolympics/raw-data/Athletes.csv")
coaches = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolympics/raw-data/Coaches.csv")
entries_gender = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolympics/raw-data/EntriesGender.csv")
medals = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolympics/raw-data/Medals.csv")
teams = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolympics/raw-data/Teams.csv")

In [0]:
# Rename column to use underscores instead of spaces (for Synapse Analytics)
medals = medals.withColumnRenamed("Rank by Total", "Rank_by_Total")

medals.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Team_Country: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank_by_Total: integer (nullable = true)

In [0]:
# Find the number of events each country participated in by number of entries in teams
country_events = teams.groupBy("Country").agg(count("Country").alias("EventCount")).orderBy(desc("EventCount"))

# Find the number of athletes each country produced
country_athletes = athletes.groupBy("Country").agg(countDistinct("PersonName").alias("AthleteCount")).orderBy(desc("AthleteCount"))

# Join country_events and country_athletes on "Country"
countries = country_events.join(country_athletes, "Country")

# Join countries and medals on "Country" for countries and "Team_Country" for medals
countries = medals.join(countries, countries["Country"] == medals["Team_Country"], "outer")
countries = countries.withColumn("Country", coalesce("Country", "Team_Country")).drop("Team_Country")

countries = countries.fillna(0, subset=["Gold", "Silver", "Bronze", "Total"])

loser_rank = countries.select("Rank").dropna(subset=["Rank"]).count() + 1
countries = countries.fillna(loser_rank, subset=["Rank", "Rank_by_Total"])


countries = countries.withColumn("Rank_by_Gold", rank().over(Window.orderBy(desc("Gold"))))

countries = countries.select("Rank", "Country", "EventCount", "AthleteCount", "Gold", "Silver", "Bronze", "Total", "Rank_by_Total", "Rank_by_Gold").orderBy("Rank")


countries.show(countries.count(), truncate=False)
countries.count()

+----+--------------------------+----------+------------+----+------+------+-----+-------------+------------+
|Rank|Country                   |EventCount|AthleteCount|Gold|Silver|Bronze|Total|Rank_by_Total|Rank_by_Gold|
+----+--------------------------+----------+------------+----+------+------+-----+-------------+------------+
|1   |United States of America  |47        |614         |39  |41    |33    |113  |1            |1           |
|2   |People's Republic of China|33        |398         |38  |32    |18    |88   |2            |2           |
|3   |Japan                     |48        |585         |27  |14    |17    |58   |5            |3           |
|4   |Great Britain             |28        |366         |22  |21    |22    |65   |4            |4           |
|5   |ROC                       |34        |318         |20  |28    |23    |71   |3            |5           |
|6   |Australia                 |35        |470         |17  |7     |22    |46   |6            |6           |
|7   |Netherlands               |27        |272         |10  |12    |14    |36   |9            |7           |
|8   |France                    |33        |377         |10  |12    |11    |33   |10           |7           |
|9   |Germany                   |36        |399         |10  |11    |16    |37   |8            |7           |
|10  |Italy                     |37        |354         |10  |10    |20    |40   |7            |7           |
|11  |Canada                    |30        |368         |7   |6     |11    |24   |11           |11          |
|12  |Brazil                    |25        |291         |7   |6     |8     |21   |12           |11          |
|13  |New Zealand               |13        |202         |7   |6     |7     |20   |13           |11          |
|14  |Cuba                      |3         |69          |7   |3     |5     |15   |18           |11          |
|15  |Hungary                   |14        |154         |6   |7     |7     |20   |13           |15          |
|16  |Republic of Korea         |19        |222         |6   |4     |10    |20   |13           |15          |
|17  |Poland                    |21        |195         |4   |5     |5     |14   |19           |17          |
|18  |Czech Republic            |5         |117         |4   |4     |3     |11   |23           |17          |
|19  |Kenya                     |4         |78          |4   |4     |2     |10   |25           |17          |
|20  |Norway                    |3         |92          |4   |2     |2     |8    |29           |17          |
|21  |Jamaica                   |5         |60          |4   |1     |4     |9    |26           |17          |
|22  |Spain                     |20        |324         |3   |8     |6     |17   |17           |22          |
|23  |Sweden                    |6         |129         |3   |6     |0     |9    |26           |22          |
|24  |Switzerland               |12        |115         |3   |4     |6     |13   |20           |22          |
|25  |Denmark                   |8         |103         |3   |4     |4     |11   |23           |22          |
|26  |Croatia                   |2         |57          |3   |3     |2     |8    |29           |22          |
|27  |Islamic Republic of Iran  |3         |66          |3   |2     |2     |7    |33           |22          |
|28  |Serbia                    |6         |83          |3   |1     |5     |9    |26           |22          |
|29  |Belgium                   |10        |124         |3   |1     |3     |7    |33           |22          |
|30  |Bulgaria                  |1         |41          |3   |1     |2     |6    |39           |22          |
|31  |Slovenia                  |2         |51          |3   |1     |1     |5    |42           |22          |
|32  |Uzbekistan                |1         |63          |3   |0     |2     |5    |42           |22          |
|33  |Georgia                   |NULL      |NULL        |2   |5     |1     |8    |29           |33          |
|34  |Chinese Taipei            |7         |67          |2   |4     |6     |12   |22           |33          |
|35  |Turkey                    |4         |102         |2   |2     |9     |13   |20           |33          |
|36  |Greece                    |6         |75          |2   |1     |1     |4    |47           |33          |
|36  |Uganda                    |NULL      |NULL        |2   |1     |1     |4    |47           |33          |
|38  |Ecuador                   |1         |46          |2   |1     |0     |3    |60           |33          |
|39  |Ireland                   |6         |116         |2   |0     |2     |4    |47           |33          |
|39  |Israel                    |5         |85          |2   |0     |2     |4    |47           |33          |
|41  |Qatar                     |1         |14          |2   |0     |1     |3    |60           |33          |
|42  |Bahamas                   |1         |16          |2   |0     |0     |2    |66           |33          |
|42  |Kosovo                    |NULL      |NULL        |2   |0     |0     |2    |66           |33          |
|44  |Ukraine                   |10        |152         |1   |6     |12    |19   |16           |44          |
|45  |Belarus                   |7         |104         |1   |3     |3     |7    |33           |44          |
|46  |Venezuela                 |1         |43          |1   |3     |0     |4    |47           |44          |
|46  |Romania                   |4         |99          |1   |3     |0     |4    |47           |44          |
|48  |India                     |7         |117         |1   |2     |4     |7    |33           |44          |
|49  |Hong Kong, China          |9         |40          |1   |2     |3     |6    |39           |44          |
|50  |Slovakia                  |1         |38          |1   |2     |1     |4    |47           |44          |
|50  |Philippines               |NULL      |NULL        |1   |2     |1     |4    |47           |44          |
|52  |South Africa              |12        |171         |1   |2     |0     |3    |60           |44          |
|53  |Austria                   |5         |72          |1   |1     |5     |7    |33           |44          |
|54  |Egypt                     |12        |133         |1   |1     |4     |6    |39           |44          |
|55  |Indonesia                 |2         |26          |1   |1     |3     |5    |42           |44          |
|56  |Portugal                  |2         |85          |1   |1     |2     |4    |47           |44          |
|56  |Ethiopia                  |NULL      |NULL        |1   |1     |2     |4    |47           |44          |
|58  |Tunisia                   |3         |57          |1   |1     |0     |2    |66           |44          |
|59  |Fiji                      |2         |28          |1   |0     |1     |2    |66           |44          |
|59  |Estonia                   |1         |33          |1   |0     |1     |2    |66           |44          |
|59  |Latvia                    |3         |29          |1   |0     |1     |2    |66           |44          |
|59  |Thailand                  |NULL      |NULL        |1   |0     |1     |2    |66           |44          |
|63  |Puerto Rico               |1         |35          |1   |0     |0     |1    |77           |44          |
|63  |Morocco                   |1         |48          |1   |0     |0     |1    |77           |44          |
|63  |Bermuda                   |NULL      |NULL        |1   |0     |0     |1    |77           |44          |
|66  |Colombia                  |3         |64          |0   |4     |1     |5    |42           |66          |
|67  |Azerbaijan                |1         |41          |0   |3     |4     |7    |33           |66          |
|68  |Dominican Republic        |3         |61          |0   |3     |2     |5    |42           |66          |
|69  |Armenia                   |NULL      |NULL        |0   |2     |2     |4    |47           |66          |
|70  |Kyrgyzstan                |NULL      |NULL        |0   |2     |1     |3    |60           |66          |
|71  |Mongolia                  |2         |43          |0   |1     |3     |4    |47           |66          |
|72  |Argentina                 |10        |180         |0   |1     |2     |3    |60           |66          |
|72  |San Marino                |NULL      |NULL        |0   |1     |2     |3    |60           |66          |
|74  |Malaysia                  |1         |29          |0   |1     |1     |2    |66           |66          |
|74  |Nigeria                   |4         |59          |0   |1     |1     |2    |66           |66          |
|74  |Jordan                    |NULL      |NULL        |0   |1     |1     |2    |66           |66          |
|77  |Lithuania                 |2         |37          |0   |1     |0     |1    |77           |66          |
|77  |Saudi Arabia              |1         |32          |0   |1     |0     |1    |77           |66          |
|77  |Bahrain                   |1         |30          |0   |1     |0     |1    |77           |66          |
|77  |Namibia                   |NULL      |NULL        |0   |1     |0     |1    |77           |66          |
|77  |Turkmenistan              |NULL      |NULL        |0   |1     |0     |1    |77           |66          |
|77  |North Macedonia           |NULL      |NULL        |0   |1     |0     |1    |77           |66          |
|83  |Kazakhstan                |3         |92          |0   |0     |8     |8    |29           |66          |
|84  |Mexico                    |9         |155         |0   |0     |4     |4    |47           |66          |
|85  |Finland                   |NULL      |NULL        |0   |0     |2     |2    |66           |66          |
|86  |Ghana                     |1         |14          |0   |0     |1     |1    |77           |66          |
|86  |Cï¿½te d'Ivoire             |1         |29          |0   |0     |1     |1    |77           |66          |
|86  |Botswana                  |1         |13          |0   |0     |1     |1    |77           |66          |
|86  |Republic of Moldova       |1         |19          |0   |0     |1     |1    |77           |66          |
|86  |Kuwait                    |NULL      |NULL        |0   |0     |1     |1    |77           |66          |
|86  |Grenada                   |NULL      |NULL        |0   |0     |1     |1    |77           |66          |
|86  |Burkina Faso              |NULL      |NULL        |0   |0     |1     |1    |77           |66          |
|86  |Syrian Arab Republic      |NULL      |NULL        |0   |0     |1     |1    |77           |66          |
|94  |Singapore                 |1         |23          |0   |0     |0     |0    |94           |66          |
|94  |Angola                    |1         |20          |0   |0     |0     |0    |94           |66          |
|94  |Chile                     |2         |56          |0   |0     |0     |0    |94           |66          |
|94  |Bangladesh                |1         |6           |0   |0     |0     |0    |94           |66          |
|94  |Liechtenstein             |1         |5           |0   |0     |0     |0    |94           |66          |
|94  |Montenegro                |2         |35          |0   |0     |0     |0    |94           |66          |
|94  |Honduras                  |1         |25          |0   |0     |0     |0    |94           |66          |
|94  |Trinidad and Tobago       |3         |31          |0   |0     |0     |0    |94           |66          |
|94  |Zambia                    |1         |29          |0   |0     |0     |0    |94           |66          |
|94  |Vietnam                   |1         |17          |0   |0     |0     |0    |94           |66          |
+----+--------------------------+----------+------------+----+------+------+-----+-------------+------------+

103

In [0]:
disciplines = teams.groupBy("Discipline").agg(countDistinct("Country").alias("CountryCount")).orderBy(desc("CountryCount"))

# Join disciplines and entries_gender on "Discipline"
disciplines = disciplines.join(entries_gender, "Discipline", "outer").withColumnRenamed("Total", "AthleteCount")

# Find proportion of male:female for each discipline
disciplines = disciplines.withColumn('Female_Proportion', disciplines['Female'] / disciplines['AthleteCount'])

disciplines = disciplines.orderBy(desc("CountryCount"))

disciplines.show()
disciplines.printSchema()

+-------------------+------------+------+----+------------+-------------------+
|         Discipline|CountryCount|Female|Male|AthleteCount|  Female_Proportion|
+-------------------+------------+------+----+------------+-------------------+
|          Athletics|          33|   969|1072|        2041| 0.4747672709456149|
|            Archery|          31|    64|  64|         128|                0.5|
|           Swimming|          30|   361| 418|         779| 0.4634146341463415|
|       Table Tennis|          25|    86|  86|         172|                0.5|
|           Football|          24|   264| 344|         608| 0.4342105263157895|
|      Cycling Track|          23|    90|  99|         189|0.47619047619047616|
|   Beach Volleyball|          23|    48|  48|          96|                0.5|
|  Artistic Swimming|          22|   105|   0|         105|                1.0|
|           Handball|          18|   168| 168|         336|                0.5|
|          Triathlon|          18|    55|  55|         110|                0.5|
|            Fencing|          18|   107| 108|         215|0.49767441860465117|
|         Volleyball|          18|   144| 144|         288|                0.5|
|         Basketball|          18|   144| 144|         288|                0.5|
|Artistic Gymnastics|          17|    98|  98|         196|                0.5|
|         Water Polo|          16|   122| 146|         268| 0.4552238805970149|
|       Rugby Sevens|          16|   146| 151|         297|0.49158249158249157|
|Rhythmic Gymnastics|          14|    96|   0|          96|                1.0|
|             Hockey|          14|   192| 192|         384|                0.5|
|     3x3 Basketball|          13|    32|  32|          64|                0.5|
|  Baseball/Softball|           9|    90| 144|         234|0.38461538461538464|
+-------------------+------------+------+----+------------+-------------------+
only showing top 20 rows

root
 |-- Discipline: string (nullable = true)
 |-- CountryCount: long (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- AthleteCount: integer (nullable = true)
 |-- Female_Proportion: double (nullable = true)

In [0]:
# Write transformed data to mounted transformed-data directory
countries.write.format('csv').mode('overwrite').option('header', 'true').save('/mnt/tokyoolympics/transformed-data/countries')
disciplines.write.format('csv').mode('overwrite').option('header', 'true').save('/mnt/tokyoolympics/transformed-data/disciplines')